<!DOCTYPE html>
<html>

<head>
    <title>Test Page</title>
    <style>
        body {
            background-color: red;
            color: white;
            font-size: 24px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <h1>TEST PAGE - If you see this with RED background, MVC is working!</h1>
    <p>This is a standalone HTML page to test if views are rendering.</p>

    <script>
        console.log('Test page JavaScript is working!');
        alert('JavaScript is working on test page!');
    </script>
</body>

</html>